*{
 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'lato';
}
 /* pagina principal*/
.parallax-completo{
    width: 100%;
    height:100vh;
    background-image: url('hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



.texto-hero{
    background: #111;
    padding: 18px;
    width: 320px;
    text-align: center;
    color: #fff;
}

h2{
    font-size:32px;
    font-weight: 300;
}

.center{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.espacio{
    padding: 30px 0 60px 0;
}

.espacio h2{
    text-align: center;
    padding: 30px;
}

.espacio p{
    text-align: justify;
}

.parallax-chico{
    height: 450px;
    background-image: url(fondo1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-chico h2{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.texto{
    background: #ccc;
    height:190px;
}

.texto h2{
    text-align: center;
    color: #000;
    display: flex;
    height:inherit;
    justify-content: center;
    align-items: center;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    /*--black1: #1A1B1F;
    --black2: #30353B;*/
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}




body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
  
  
}

.nav__hero{
  
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size: 24px;
    color: black; 
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}



a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color:#f03e3e;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #f03e3e;
    color: #050801;
    box-shadow: 0 0 5px #f03e3e,
                0 0 25px #f03e3e,
                0 0 50px #f03e3e,
                0 0 200px #f03e3e;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(0deg);
}
a:nth-child(2){
    filter: hue-rotate(0deg);
}
a:nth-child(3){
    filter: hue-rotate(0deg);
}a:nth-child(4){
    filter: hue-rotate(0deg);
}a:nth-child(5){
    filter: hue-rotate(280deg);
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#f03e3e);
    animation: animate1 1s linear infinite;
}

}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,##f03e3e);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#f03e3e);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f03e3e);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

/*<!--Contacto->*/

.touch_section{
	width: 100%;
    padding-top: 57px;
    margin-bottom: 47px;
    display: inline-block !important;
}

.touch_text{
	width: 27%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #000;
	color: #050000;
	font-size: 22pt;
	font-weight: bold;

}

.lets_touch_main{
	width: 100%;
	float: left;
	background-color: #072833;
	padding-top: 40px;
	padding-bottom: 40PX;
}

.input_main{
	width: 100%;
	float: left;
	background-color: #ffffff;
    padding: 40px 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #072833;
    background-clip: padding-box;
    border: 1px solid #072833;
    border-radius: 0px;
    border: 0px;
}


.lorem_text{
	width: 100%;
	float: left;
	color: #ffffff;
	font-size: 17px;
    line-height: 35px;
    padding-top: 80px;
}

.contact_main{
	width: 100%;
	float: left;
	background-color: white;
	padding-top: 40px;
}

.contact_section_2{
	width: 50%;
	margin: 0 auto;
	display: block;
	padding-top: 40px;
}

.map_icon{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.copyright{
	width: 100%;
	float: left;
	background-color: #076787;
	padding-top: 10px;
	padding-bottom: 10px;

}

.copyright_text{
	width: 100%;
	float: left;
	color: #fbfdfd;
	text-align: center;
	margin: 0px;
}

.email-text{
	width: 100%;
	float: left;
	color: #3ac3f0;
}

.email-text a {
    text-decoration: none;
    color: #333;
}

.email-text a:hover{
	color: #000;
} 

.copyright_text a:hover,
.copyright_text a:focus {
    color: #fff;
}

button.main_bt {
    background: #ce4109;
    border: none;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
}

.email-bt{
	background: #072833;
    border: none;
    color: #fff;
    width: 100%;
    height: 55px;
    font-size: 22px;
    padding: 20px;
}

.massage-bt{
	background: #072833;
    border: none;
    color: #fff;
    width: 100%;
    height: 145px;
    font-size: 22px;
    padding: 20px;
}

.button.navbar-toggler.collapsed { background: #fff;}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #fff;
    padding: 10px 20px;
}

.about_main{
	width: 100%;
	float: left;
	margin-top: 130px;
}

.section_service_main{
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact_main{
	width: 100%;
	float: left;
	padding-top: 30px;
}


  /* equipo Start */
.services_main{
	width: 100%;
	float: left;
	background-color: transparent;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.creative_taital{
	width: 100%;
	float: left;
	background-color: black;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
    margin-top: -110px;
    margin-bottom: 50px;
}

.creative_text{
	color: white;
	font-size: 22pt;
	text-align: center;	
	border-bottom: 1px solid white;
	width: 46%;
    margin: 0 auto;
    text-align: center;
	font-weight: bold;

}

.section_service_2{
	width: 100%;
	float: left;
    color: white;

}

.service_text{
	color: white;
	font-size: 22pt;
	text-align: center;	
	border-bottom: 1px solid white;
	width: 22%;
    margin: 0 auto;
	font-weight: bold;
}

.service_main{
	width: 100%;
	float: left;
	margin-top: 30px;
    background-color:transparent;
}

.written_text{
	width: 100%;
	float: left;
	background-color: white;
	height: auto;
	padding: 20px;
}

.written_text{
	width: 100%;
	float: left;
	color: black;
	margin-top: 20px;
}
.like_icon{
	padding-left: 20px;
	min-height: 50px;
}









